.grid{
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}
.grid_full-width{
	width: 100%;
}
.grid_row{
	display: flex;
	margin-top: 60px;
	margin-bottom: 60px;
	border: solid #00a700;
}
li{
	list-style: none;
	margin-left: 0px;
}
li img{
	width: 30px;
	padding-right: 10px;
	vertical-align: sub;
}
.chitiet{
	padding-left: 30px;
	padding-right: 30px;
}
.congviec{
	padding-left: 40px;
	padding-right: 20px;
	padding-top: 40px;
}
.aboutme{
	text-align: justify;
}
.grid-4{
	width: 40%;
	background-color: #00a700;
	box-sizing: border-box;
	color: #fff;
}
.grid-6{
	width: 60%;
	box-sizing: border-box;
	background-color: #f5f7fa;
}
.avatar{
	padding-top: 40px;
}
.avatar img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#contact-1{
	padding-bottom: 18px;
}
ul{
	padding-left: 0px;
}
li{
	padding-bottom: 12px;
}
h5{
	padding-bottom: 135px;
}
p{
	padding: 0;
}
h2 {
   	font-size: 25px;
   	padding-bottom: 20px;
}
h1{
	padding-top: 50px;
	padding-bottom: 20px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial,sans-serif; 
    font-weight: bold;
    line-height: 1.2;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: black;
    font-family: 'Arial', sans-serif;
} 
.timeline{
	position: relative;
    max-width: 1200px;
    margin: 10px auto 40px auto;
}
.container{
	padding: 10px 30px 10px 64px;
	position: relative;
	animation: movedown 1s linear forwards;
	opacity: 0;
}
.contact img{
	width: 30px;
	padding-right: 10px;
	vertical-align: sub;
}
@keyframes movedown {
	0%{
		opacity: 1;
		transform: translateY(-30px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
.text-box{
	padding: 20px 30px;
	background: rgb(207 240 158);
	position:  relative;
	border-radius: 6px;
	font-size: 15px;
}
.text-box small{
	display: inline-block;
	margin-bottom: 15px;
}
.container img{
	position: absolute;
	width: 40px;
	left: -15px;
	top: 32px;
	z-index: 10;
}
.timeline::before{
	content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: green;
    top: 0;
    left: 1%;
    z-index: 0;
    margin-left: -3px;
    animation: moveline 6s linear forwards;
}
@keyframes moveline{
	0% {height: 0;}
	100% {height: 100%;}
}
.left-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid rgb(207 240 158);
	left: -15px;
}
.container:nth-child(1){
	animation-delay: 1s;
}
.container:nth-child(2){
	animation-delay: 2s;
}
.container:nth-child(3){
	animation-delay: 3s;
}
.container:nth-child(4){
	animation-delay: 4s;
}
.bg-primary-1 {
    background-color: #005c00;
}
.col-md-6 {
    width: 100%;
}
.thongtin-icon a img{
	width: 40px;
	transition: 0.5s;
}
.thongtin-icon a img:hover{
	cursor: pointer;
	transform: translate3d(0px, -10px, 0px);
    transition: 0.5s;
}
.thongtin-icon{
	display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}
